{%extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
{%block title%}SubCategories{%endblock%}
{%block content%} 
        <section id="bc" class="mt-3">
          <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'index'%}" style="color: black;">
                    <i class="fa fa-home"></i> index</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'subcategories' sub.id%}" style="color: black;">
                    {{sub}}</a>
                </li>
                <li class="breadcrumb-item active"> {{category}}</li>
              </ol>
            </nav>
          </div>
        </section>
        <div class="container">
            <div class="row">
              {% if categories %}
              {%for category in categories%}
              <!-- Listing 1 -->
              <hr>
              {%for i in list%}
              <div class="content col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <div class="front" style="background: url('{{category.image.url}}') center; background-size: cover; ">
                        <p>{{category.title}}</p>
                        <p>Season {{i}}</p>
                    </div>
                    <div class="back">
                        <div>
                            <p>Season {{i}}</p>
                            <form action="{% url 'list' i %}">
                              <input type="hidden" name="subcategory" class="form-control" value="{{category.id}}">
                              <button class="button">View</button>
                            </form>
                        </div>
                    </div>
                  </div>
            </div>
            {%endfor%}
            {%endfor%}
            {%else%}
            <h2> Currently There are no Categories</h2>
            {%endif%}
              <!-- Listing 3 -->
      </div>
{%endblock%}